@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #214645;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.coming-soon-pattern {
  background: url('./../assets/images/homepage/ComingSoon/pattern.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
}
